

#container {
    padding: 0px;
    border: none;

    width:500px;
    height:500px;
    margin: auto;
    background-color: aqua;
}

.boxes{
    display: inline-flex;
    float: left;
    width: 5px;
    height: 5px;
    background-color: black;

    margin:0px;
    padding: 0px;
    border: none;
}

.active{
    background-color: white;
}

